.message {
    font-size: 24px;
    font-weight: bold;
    background: linear-gradient(45deg, #FFFFFF, #DCDCDC, #C3C3C3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    animation: glowing-text 20s linear infinite;
}

.succDiv{
    width: 100%;
    text-align: center;
    background-color: green;
    border-radius: 5px;
}

.errDiv{
    background-color: rgb(255, 110, 110);
    width: 100%;
    text-align: center;
    border-radius: 5px;
}

@keyframes glowing-text {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}