body {
    background-image: url('poz.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Calibri', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
 /*   width: 50%; */
    background-color:  #FFAE09;
    padding: 20px;
    border-radius: 10px;
    color: #373737;
}

.error {
    background-color: rgb(255, 110, 110);
    color: white;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    word-break: break-word;
    position: relative;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    animation: glowing-error 2s infinite;
}

@keyframes glowing-error {
    0% {
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    }
    50% {
        box-shadow: 0 0 30px rgba(255, 255, 255, 1);
    }
    100% {
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    }
}


h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}
.form-group {
    margin-bottom: 15px;
    padding: 5px;
    margin-right: 10px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input, .form-group select, .form-group textarea {
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
    margin-right: 5px;
}
.form-group textarea {
    resize: vertical;
}


a {
    color: #373737;
    text-decoration: none;
}

a:hover {
    color:white;
}

 .dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}

select {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: white;
    width: 250px;
    background: #fff ;
    background-size: 20px;
}

option {
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

option:hover {
    background-color: #f1f1f1;
}

.custom-select-wrapper {
    position: relative;
}

.custom-select-wrapper::after {
    content: '▼';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.glow-on-hover {
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin: 5px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #373737, #ffff, #808080, #ffff);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(2px);
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


.mainbttn {
    font-size: 20px;
    padding: 10px 10px;
    border-radius: 8%;
    background: linear-gradient(45deg, #373737, #ffff, #808080, #ffff);
    background-size: 300% 300%;
    animation: glowing 20s ease infinite;
    border: none;
    cursor: pointer;
    color: #373737;
    transition: opacity .3s ease-in-out, background-color .3s ease-in-out;
}
