<!DOCTYPE html>
{% load static %}
{% load i18n %}

<html lang="en">
<head>
    {% include '_links.html' %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'register.css' %}" rel="stylesheet">
    <link href="{% static '_message.css' %}" rel="stylesheet">

    <title>{% trans "Promena lozinke" %}</title>
</head>
<body style="height: 600px;">
    <div class="col-sm-10 col-lg-6">
        <div class="container">
        <h2 style="color: #373737">{% trans "Unesite novu lozinku" %}</h2>
        <form method="post">
            {% csrf_token %}

            <div class="form-group">
                <input type="password" id="password" name="password" placeholder="{% trans 'Lozinka' %}" class="form-control">
            </div>
              <div class="form-group">
                <input type="password" id="password1" name="password1" placeholder="{% trans 'Ponovite lozinku' %}" class="form-control">
            </div>

            {% include '_message.html' %}

            <div style="width: 100%; text-align: center;">
                <button type="submit" class="glow-on-hover mainbttn" style="margin-left: 20px;margin-top:20px;">{% trans "Potvrdi" %}</button>
            </div>
        </form>
    </div>
    </div>
</body>
</html>
<script src="{% static 'scripts.js' %}"></script>

